.home {
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.heading {
  color: var(--color-blue);
  margin-bottom: 1rem;
}

.firstHeading {
  composes: heading;
  font-size: 3em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.section {
  margin-bottom: 3rem;
}

.section:last-child {
  margin-bottom: 0;
}

.portrait {
  margin-bottom: 1rem;
}

.secondHeading {
  composes: heading;
  font-size: 28px;
  letter-spacing: 0.04em;
  text-align: center;
}

.thirdHeading {
  composes: heading;
  font-size: 20px;
  letter-spacing: 0.02em;
}
