.navigation {
  background-color: var(--color-white);
  height: 100%;
  position: fixed;
  transition: transform 300ms ease;
  width: 100%;
  z-index: 1;
}

.navOpen {
  transform: translateX(0);
}

.navClosed {
  transform: translateX(-100%);
}

.dialogContent {
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
}
