.navigation {
  background-color: var(--color-white);
  height: 100%;
  position: fixed;
  transition: transform 300ms ease;
  width: 100%;
  z-index: 1;
}

.navOpen {
  transform: translateX(0);
}

.navClosed {
  transform: translateX(-100%);
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
  transition: filter 300ms ease, transform 300ms ease;
  width: 25px;
}

.closeButton:hover,
.closeButton:focus {
  filter: drop-shadow(0 0 1px var(--color-black));
  transform: scale(1.2) rotate(-90deg);
  outline: none;
}

.secondHeading {
  text-align: center;
}

.navItem {
  border-bottom: 1px solid var(--color-gray);
}

.navItem:last-child {
  border: none;
}

.navLink {
  display: block;
  padding: 1rem;
  transition: background-color 300ms ease;
}

.navLink:hover,
.navLink:focus {
  background-color: var(--color-lightgray);
  outline: none;
}
