.headerBackground {
  background-color: var(--color-blue);
}

.header {
  color: var(--color-white);
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.menuButton {
  background: none;
  border: none;
  border-radius: 0.5rem;
  fill: var(--color-white);
  transition: background-color 300ms ease;
  padding: 0.5rem;
}

.menuButton:hover,
.menuButton:focus {
  background-color: var(--color-darkblue);
  outline: none;
}

.menuIcon {
  height: 100%;
  width: 35px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 1.5rem;
    width: 768px;
  }

  .menuIcon {
    width: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 2rem;
    width: 1280px;
  }

  .menuButton {
    padding: 0.8rem;
  }

  .menuIcon {
    width: 45px;
  }
}
