.headerBackground {
  background-color: var(--color-blue);
}

.header {
  color: var(--color-white);
  display: flex;
  margin: 0 auto;
  width: 320px;
}

.menuButton {
  background: none;
  border: none;
  fill: var(--color-white);
  transition: background-color 300ms ease;
  padding: 1rem;
}

.menuButton:hover,
.menuButton:focus {
  background-color: var(--color-darkblue);
  outline: none;
}

.menuIcon {
  height: 100%;
  width: 35px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0rem;
    width: 768px;
  }

  .navList {
    display: flex;
  }

  .navLink {
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding: 1.5rem;
    transition: background-color 300ms ease;
  }

  .navLink:hover,
  .navLink:focus {
    background-color: var(--color-darkblue);
    outline: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: 1280px;
  }

  .navLink {
    font-size: 20px;
    padding: 2rem;
  }
}
