.projects {
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.heading {
  color: var(--color-blue);
  margin-bottom: 1rem;
}

.firstHeading {
  composes: heading;
  font-size: 3em;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.section {
  margin-bottom: 3rem;
}

.section:last-child {
  margin-bottom: 0;
}

.secondHeading {
  composes: heading;
  font-size: 28px;
  letter-spacing: 0.04em;
  text-align: center;
}

.groupProjectsText {
  color: var(--color-gray);
  font-size: 14px;
  margin-bottom: 2rem;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectLink {
  align-items: center;
  display: inline-flex;
  gap: 0.5em;
  margin-bottom: 1rem;
  position: relative;
  transition: color 300ms ease;
}

.projectLink:hover,
.projectLink:focus {
  color: var(--color-blue);
  outline: none;
}

.thirdHeading {
  display: inline;
  font-size: 20px;
  letter-spacing: 0.02em;
}

.linkIcon {
  transition: fill 300ms ease;
}

.projectLink:hover .linkIcon,
.projectLink:focus .linkIcon {
  fill: var(--color-blue);
}

.underline {
  background-color: var(--color-blue);
  height: 3px;
  left: 0;
  position: absolute;
  width: 0;
  bottom: -2px;
  transition: width 300ms ease;
}

.projectLink:hover .underline,
.projectLink:focus .underline {
  width: 100%;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projectTools {
  color: var(--color-gray);
}

.projectTools:before {
  content: "[";
  padding-right: 0.5rem;
}

.projectTools:after {
  content: "]";
  padding-left: 0.5rem;
}

.sourceContainer {
  display: inline-block;
  position: relative;
}

.projectSource {
  align-items: center;
  display: inline-flex;
  gap: 0.5em;
  outline: none;
  transition: color 300ms ease;
}

.projectSource:hover,
.projectSource:focus {
  color: var(--color-blue);
}

.projectSource:hover .linkIcon,
.projectSource:focus .linkIcon {
  fill: var(--color-blue);
}

.projectSource:hover .smallUnderline,
.projectSource:focus .smallUnderline {
  width: 100%;
}

.smallUnderline {
  background-color: var(--color-blue);
  bottom: 2px;
  height: 2px;
  position: absolute;
  transition: width 300ms ease;
  width: 0;
}

.sourceCodeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.websiteSource {
  align-items: center;
  display: inline-flex;
  gap: 0.5em;
  margin-left: 0.5rem;
  letter-spacing: 0.15em;
  position: relative;
  text-transform: uppercase;
}

.websiteSource:hover,
.websiteSource:focus {
  color: var(--color-blue);
  outline: none;
}

.websiteSource:hover .linkIcon,
.websiteSource:focus .linkIcon {
  fill: var(--color-blue);
}

.websiteSource:hover .smallUnderline,
.websiteSource:focus .smallUnderline {
  width: 100%;
}

.funFactContainer {
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.funFactImg {
  background-image: url("/portfolio/images/snail.jpg");
  background-size: cover;
  height: inherit;
  width: 100%;
}

@media only screen and (min-resolution: 2dppx) {
  .funFactImg {
    background-image: url("/portfolio/images/snail@2x.jpg");
  }
}

.funFactLight {
  background: var(--color-white);
  background: linear-gradient(
    95deg,
    var(--color-white) 65%,
    var(--color-transparent) 100%
  );
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}

.funFact {
  color: var(--color-gray);
  font-size: 14px;
  padding: 0.5rem 0;
  width: 75%;
}

.emphasis {
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--color-gold);
}

@media screen and (min-width: 768px) {
  .projects {
    padding: 1.5rem;
    width: 768px;
  }

  .heading {
    margin-bottom: 1.5rem;
  }

  .firstHeading {
    font-size: 3.5em;
  }

  .section {
    margin-bottom: 3.5rem;
  }

  .secondHeading {
    font-size: 2em;
  }

  .groupProjectsText {
    font-size: 16px;
    margin-bottom: 2.5rem;
  }

  .projectsList {
    gap: 2.5rem;
  }

  .projectLink {
    margin-bottom: 1.5rem;
  }

  .projectLink:hover,
  .projectLink:focus {
    color: var(--color-blue);
    outline: none;
  }

  .thirdHeading {
    font-size: 1.5em;
  }

  .projectDetails {
    gap: 1rem;
  }

  .funFactContainer {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .imageContainer {
    position: relative;
    width: 352px;
  }

  .funFactImg {
    height: 218px;
    width: inherit;
  }

  .funFactLight {
    background: var(--color-white);
    background: linear-gradient(
      90deg,
      var(--color-white) 0%,
      var(--color-transparent) 50%
    );
  }

  .funFact {
    font-size: 16px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .projects {
    padding: 2rem;
    width: 1280px;
  }

  .heading {
    margin-bottom: 2rem;
  }

  .firstHeading {
    font-size: 4em;
  }

  .section {
    margin-bottom: 4rem;
  }

  .secondHeading {
    font-size: 2.5em;
  }

  .groupProjectsText {
    margin-bottom: 3rem;
  }

  .projectsList {
    gap: 3rem;
  }

  .projectLink {
    margin-bottom: 2rem;
  }

  .thirdHeading {
    font-size: 2em;
  }

  .projectLink .linkIcon {
    height: 25px;
    width: 25px;
  }

  .projectDetails {
    font-size: 18px;
    gap: 1.5rem;
  }

  .projectSource .linkIcon,
  .sourceContainer .linkIcon {
    height: 18px;
    width: 18px;
  }

  .sourceCodeList {
    font-size: 18px;
    gap: 1.5rem;
  }

  .funFactContainer {
    gap: 1.5rem;
  }

  .imageContainer {
    width: 397px;
  }

  .funFactImg {
    height: 245px;
    width: inherit;
  }
}
