.footerBackground {
  background-color: var(--color-blue);
}

.footer {
  color: var(--color-white);
  margin: 0 auto;
  padding: 1rem;
  width: 320px;
}

.heading {
  font-size: 20px;
  margin-bottom: 1rem;
}

.address {
  font-style: inherit;
}

.textLinks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.textLine {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.linkContainer {
  position: relative;
}

.textLink {
  color: var(--color-white);
  width: 100%;
}

.textLink:focus,
.textLink:hover {
  outline: none;
}

.underline {
  background-color: var(--color-white);
  bottom: 2px;
  height: 2px;
  position: absolute;
  transition: width 300ms ease;
  width: 0;
}

.textLink:focus + .underline,
.textLink:hover + .underline {
  content: "";
  width: 100%;
}

.textLinkIcon {
  fill: var(--color-white);
}

.imageLinks {
  display: flex;
  gap: 1rem;
}

.imageLink {
  border-radius: 50%;
  display: block;
  height: 48px;
  outline: thick double var(--color-blue);
  transition: outline 300ms ease;
}

.imageLink:focus,
.imageLink:hover {
  outline: thick double var(--color-white);
}

.githubIcon {
  fill: var(--color-white);
  width: 48px;
  height: 48px;
  transform: translateY(-1px);
}

.linkedinLink {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 3rem;
}

.linkedinIcon {
  fill: var(--color-blue);
  width: 25px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 1.5rem;
    width: 768px;
  }

  .heading {
    font-size: 1.5em;
    margin-bottom: 1.5rem;
  }

  .textLinks {
    margin-bottom: 1.5rem;
  }

  .imageLinks {
    gap: 1.5rem;
  }

  .imageLink {
    height: 56px;
  }

  .githubIcon {
    width: 58px;
    height: 58px;
  }

  .linkedinLink {
    height: 56px;
    width: 56px;
  }

  .linkedinIcon {
    width: 30px;
  }
}
