@import-normalize;

* {
  box-sizing: border-box;
}

:root {
  --color-black: #111;
  --color-gray: #444;
  --color-lightgray: #ddd;
  --color-light: #f6f6f6e0;
  --color-white: #f6f6f6;
  --color-transparent: #0000;
  --color-blue: #636fb2;
  --color-darkblue: #4d568a;
  --color-gold: #d4b500;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

a {
  color: var(--color-black);
  text-decoration: inherit;
}
