@import-normalize;

* {
  box-sizing: border-box;
}

:root {
  --color-black: #111;
  --color-white: #eee;
  --color-blue: #4f75a7;
  --color-darkblue: #2f5587;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-black);
  text-decoration: inherit;
}
